.footer__background {
  background-color: #353e48;
  padding: 15px;
}

.footer-list-email__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-list__text-item{
  color: #dbdbdb;
}
.footer-list-email__item form {
  display: flex;
  align-items: stretch; /* Всі діти flex-контейнера розтягнуться по висоті */
}

.footer-list-email__item input[type="email"],
.footer-list-email__item input[type="submit"] {
  flex: 1; /* Розтягуємо обидва елементи на однаковий простір */
  padding: 10px; /* Внутрішній відступ */
  font-size: 16px; /* Розмір шрифту */
  border: 1px solid #ccc; /* Рамка */
}

.footer-list-email__item input[type="submit"] {
  background-color: #4caf50; /* Колір кнопки */
  color: white; /* Колір тексту */
  border: none; /* Видаляємо рамку */
  margin-left: -1px; /* Виправляємо відступ між кнопкою і полем вводу */
}

.footer-info__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-info-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Це для того, щоб текст і посилання внутрішніх елементів були вирівняні зліва */
}

.footer-info__list {
  text-decoration: none;
  color: #cbcfd4;
  margin-bottom: 5px;
}

.footer-info__working-time {
  display: flex;
  align-items: center; /* Вирівнювання по вертикалі */
}

.footer-info__working-time img {
  margin-right: 10px; /* Відступ від іконки до тексту */
}

.working-time__text {
  display: flex;
  flex-direction: column; /* Відображати параграфи в колонці */
  color: #cbcfd4;
}

.footer-info__social-icons img {
  width: 22px;
  height: 25px;
  margin: 10px 7px 0 0;
}