<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Контакти</title>
    <link
      rel="shortcut icon"
      href="img/smart-rtv-service-logo.webp"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="icon" href="img/icon-title.png" type="image/png" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="contacts__container" style="background-color: #f2f3f5">
      <header>
        <nav
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.header.partial.html"
        ></nav>
      </header>
      <div class="contacts__header">
        <div class="contacts__menu">
          <p class="contacts__menu-link">
            <a class="contacts__menu-home" href="index.html"
              ><img
                src="img/icons-product/home-icon.png"
                alt="image logo home"
                width="30px"
                height="20px" /></a
            ><span> > </span>
            Контакти
          </p>
        </div>
        <div class="contacts__information">
          <h3>Контакти</h3>
        </div>
      </div>
      <section class="contacts">
        <div class="contacts__description">
          <table class="contacts__table">
            <tr>
              <td>Назва</td>
              <td>SmartRTVService</td>
            </tr>
            <tr>
              <td>Контактна особа</td>
              <td>Шубин Юрій Петрович</td>
            </tr>
            <tr>
              <td>Адреса</td>
              <td>пр. Чорновола 16-В 2-й поверх офіс №67, Львів, Україна</td>
            </tr>
            <tr>
              <td>Сайт компанії</td>
              <td><a target="_blank" href="mailto:smartrtvservice.ua"
                >smartrtvservice.ua</a
              ></td>
            </tr>
            <tr>
              <td>Телефон</td>
              <td>
                <a target="_blank" href="tel:+380974179342"
                  >+380 (97) 417-93-42</a
                >
              </td>
            </tr>
            <tr>
              <td>Email</td>
              <td><a target="_blank" href="mailto:smartserv.lviv@gmail.com"
                >smartserv.lviv@gmail.com</a
              ></td>
            </tr>
            <tr>
              <td>Viber</td>
              <td><a target="_blank" href="tel:+380974179342"
                >+380 (97) 417-93-42</a
              ></td>
            </tr>
            <tr>
              <td>WhatsApp</td>
              <td><a target="_blank" href="tel:+380974179342"
                >+380 (97) 417-93-42</a
              ></td>
            </tr>
          </table>
        </div>
        <section class="contacts__map">
          <div class="map__container">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2572.7782416672108!2d24.023174376400316!3d49.84662417148323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add0cb5da2127%3A0x4012fe454adfb242!2z0L_RgNC-0YHQvy4g0JLRj9GH0LXRgdC70LDQstCwINCn0LXRgNC90L7QstC-0LvQsCwgMTbQsiwg0JvRjNCy0L7Qsiwg0JvRjNCy0L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA3OTAxOQ!5e0!3m2!1sru!2sua!4v1721732370337!5m2!1sru!2sua"
              width="600"
              height="600"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
            </div>
          </div>
        </section>
      </section>
      <footer>
        <nav
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.footer.partial.html"
        ></nav>
      </footer>
    </div>
  </body>
</html>
